.page-footer {
  flex-shrink: 0;
  padding: 38px 0;
  color: $for-dark-bg;
  background-color: $footer-bg;
}

.page-footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-footer__logo {
  margin-right: 23.79%;
}

.page-footer__nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  @include list;
  margin-right: auto;
}

.page-footer__nav-item {
  margin-top: 5px;
  margin-bottom: 5px;

  &:not(:last-child) {
    margin-right: 40px;
  }

  & a {
    @include fonts(400, 14, 16);
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      cursor: pointer;
      opacity: 0.7;
      outline: none;
    }

    &:active {
      color: red;
    }
  }
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include list;
  margin-left: 30px;
}

.page-footer__social-item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.page-footer__social-link {
  color: $for-dark-bg;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.7;
    outline: none;
  }

  &:active {
    color: red;
  }
}

.page-footer__social-image {
  height: 24px;
}

@include for-tablet {
  .page-footer__logo {
    margin-right: 9.1445%;
  }

  .page-footer__nav-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .page-footer__social-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

@include for-mobile {
  .page-footer {
    padding: 48px 0 44px;
  }

  .page-footer__container {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .page-footer__logo {
    position: absolute;
    top: 3px;
    left: 15px;
  }

  .page-footer__nav-list {
    display: inline-block;
    column-count: 2;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .page-footer__nav-item {
    width: 144px;

    &:first-child {
      padding-top: 40px;
    }

    &:not(:last-child) {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 21px;
    }

    & a {
      @include fonts(400, 16, 19);
    }
  }

  .page-footer__social {
    margin-left: 0;
  }

  .page-footer__social-item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  .page-footer__social-image {
    &--twitter {
      @include size(32, 27);
    }

    &--instagram {
      @include size(27, 27);
    }

    &--facebook {
      @include size(14, 27);
    }
  }
}
