// Цвета
$text: #102654;
$price: #103aae;
$for-dark-bg: #ffffff;
$main-bg-color: #ffffff;
$products-bg-color: #f8f9fc;
$action-color: #1c3374;
$promo-bg: #ed0223;
$advantage-color: #2e35ac;

// Размеры
$mobile-width: 767px;
$tablet-width: 1199px;
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
