// Цвета
$text: #102654;
$price: #103aae;
$for-dark-bg: #ffffff;
$main-bg-color: #ffffff;
$products-bg-color: #f8f9fc;
$action-color: #1c3374;
$promo-bg: #ed0223;
$footer-bg: #030a1a;
$advantage-color: #2e35ac;
$gradient: linear-gradient(111.72deg, #ED0233 17.6%, #003EB7 95.31%);

// Размеры
$mobile-width: 767px;
$tablet-width: 1199px;
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
